@charset "UTF-8";
// Color
// @type Color
$color: #222;
$color--point: #cc0009;
$color--secondary: #00c73c;
$color--disabled: #666;

// Font
// @type Font
$fontFamily: 'Gothic A1','Noto Sans KR','맑은 고딕','Malgun Gothic';

