@charset "UTF-8";
// Color
// @type Color
$color: #222;
$color--point: #0080cc;
$color--secondary: #00c73c;

// Font
// @type Font
$fontfamily: 'Gothic A1','Noto Sans KR','맑은 고딕','Malgun Gothic';

