@charset "UTF-8";


/// Ellipsis
/// @type Text
@mixin ellipsis($line: 1) {
	@if ($line == 1) {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	} @else {
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: $line;
	}
}

/// Ellipsis
/// @type Float
@mixin clearfix {
	&::after {
		content: "";
		display: block;
		clear: both;
	}
}