<%- include('./include/inc_header.html', { title: "fresh-mint" }) %>
<div id="container" class="container">
	<div class="sub">
		<!-- Today -->
		<section class="section">
			<h2 class="title">
				Today
			</h2>
			<div class="today-list">
				<div class="today-list__item">
					<i class="icon icon-sunny">Sunny</i>
					<div class="today-list__temp">30°</div>
					<h3 class="today-list__title">
						Morning
					</h3>
				</div>
				<div class="today-list__item">
					<i class="icon icon-cloudy">Cloudy</i>
					<div class="today-list__temp">25°</div>
					<h3 class="today-list__title">
						Afternoon
					</h3>
				</div>
				<div class="today-list__item">
					<i class="icon icon-snow">Snow</i>
					<div class="today-list__temp">22°</div>
					<h3 class="today-list__title">
						Evening
					</h3>
				</div>
				<div class="today-list__item">
					<i class="icon icon-showers">Showers</i>
					<div class="today-list__temp">18°</div>
					<h3 class="today-list__title">
						Night
					</h3>
				</div>
			</div>
		</section>
		<!-- Air Polutions -->
		<section class="section">
			<h2 class="title">
				Air Polutions
			</h2>
			<div class="today-list today-list--center">
				<div class="today-list__item">
					<h3 class="today-list__title">
						미세먼지
					</h3>
					<div class="today-list__status point">
						좋음
					</div>
					<div class="today-list__text">
						19.63 ㎍/㎥
					</div>
				</div>
				<div class="today-list__item">
					<h3 class="today-list__title">
						초미세먼지
					</h3>
					<div class="today-list__status point--secondary">
						보통
					</div>
					<div class="today-list__text">
						25.27 ㎍/㎥
					</div>
				</div>
			</div>
		</section>
		<!-- 8-Day Forecast -->
		<section class="section">
			<h2 class="title">
				8-day Forecast
			</h2>
			<ul class="forecast-list">
				<li>
					<div class="forecast-list__date">
						9월 23일
					</div>
					<div class="forecast-list__icon">
						<i class="icon icon-sunny">Sunny</i>
					</div>
					<div class="forecast-list__temp">
						오전 18° / 오후 23°
					</div>
				</li>
				<li>
					<div class="forecast-list__date">
						9월 24일
					</div>
					<div class="forecast-list__icon">
						<i class="icon icon-cloudy">Cloudy</i>
					</div>
					<div class="forecast-list__temp">
						오전 18° / 오후 24°
					</div>
				</li>
				<li>
					<div class="forecast-list__date">
						9월 25일
					</div>
					<div class="forecast-list__icon">
						<i class="icon icon-snow">Snow</i>
					</div>
					<div class="forecast-list__temp">
						오전 17° / 오후 25°
					</div>
				</li>
				<li>
					<div class="forecast-list__date">
						9월 25일
					</div>
					<div class="forecast-list__icon">
						<i class="icon icon-showers">Showers</i>
					</div>
					<div class="forecast-list__temp">
						오전 18° / 오후 21°
					</div>
				</li>
				<li>
					<div class="forecast-list__date">
						9월 23일
					</div>
					<div class="forecast-list__icon">
						<i class="icon icon-sunny">Sunny</i>
					</div>
					<div class="forecast-list__temp">
						오전 18° / 오후 23°
					</div>
				</li>
				<li>
					<div class="forecast-list__date">
						9월 24일
					</div>
					<div class="forecast-list__icon">
						<i class="icon icon-cloudy">Cloudy</i>
					</div>
					<div class="forecast-list__temp">
						오전 18° / 오후 24°
					</div>
				</li>
				<li>
					<div class="forecast-list__date">
						9월 25일
					</div>
					<div class="forecast-list__icon">
						<i class="icon icon-snow">Snow</i>
					</div>
					<div class="forecast-list__temp">
						오전 17° / 오후 25°
					</div>
				</li>
				<li>
					<div class="forecast-list__date">
						9월 25일
					</div>
					<div class="forecast-list__icon">
						<i class="icon icon-showers">Showers</i>
					</div>
					<div class="forecast-list__temp">
						오전 18° / 오후 21°
					</div>
				</li>
			</ul>
		</section>
	</div>
</div>
<%- include('./include/inc_footer.html', { title: "fresh-mint" }) %>
