<!doctype html>
<html lang="ko">
	<%- include('./include/inc_head.html') %>
<body>
<div id="wrap" class="wrap">
	<!-- Header -->
	<%- include('./include/inc_header.html') %>
	<!-- // -->
	<div id="container">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis iusto numquam quidem? Eveniet excepturi impedit molestias nisi omnis sequi vitae? Cum, dolor explicabo illo ipsam laborum suscipit? Dignissimos, obcaecati quisquam.
	</div>
	<!-- Footer -->
	<%- include('./include/inc_footer.html') %>
	<!-- // -->
</div>