@charset "UTF-8";
@import 'common/base';
@import 'common/variables';
@import 'common/mixin';
@import 'common/mixin_sprite';
@import 'common/placeholders';
body {
	font-size:16px;
	font-family: $fontfamily;
	color: $color;
}
.wrap {
	overflow:hidden;
}
.row {
	max-width:1180px;
	margin:0 auto;
	@include clearfix;
}
.header {
	@include absolute(0,0,100%,auto);
	padding-top:30px;
	text-align:center;
	line-height:26px;
	z-index:30;
}
.logo {
	padding:20px 0;
}
.gnb {
	a {
		margin:0 10px;
		color:#ffffff;
	}
}
.icon {
	display:inline-block
}
.main-intro {
	height:100vh;
	background:url(../images/bg_mainintro1.jpg) no-repeat center top;
	background-size:cover
}