@charset "UTF-8";
@import 'common/base';
@import 'common/variables';
@import 'common/mixin';

.wrap {
	margin:2rem 3rem;
	font-family:$fontFamily;
	font-size:16px;
	color:$color;
	line-height:1.6;
}
